{% extends 'base.html' %}


{% block content %}
<div class="event-list">
{% for i in object_list %}
    <div class="row">
        <div class="event-data col-md-3">
            {% if i.cash == None or i.cash == 0.00 %}
                <p><a href="{% url 'admission:starting_cash' i.id %}">{{ i.name }}</a></p>
            {% else %}
                <p><a href="{% url 'admission:admission' i.id %}">{{ i.name }}</a></p>
            {% endif%}
            <p>{{ i.date }}</p>
            <p>{{ i.time }}</p>
            {% if request.user.is_superuser %}
                <p>Starting Cashbox Amount: ${{ i.cash }}</p>
                <p>Revenue: ${{ i.tickets_total }}
                <p>Expenses: ${{ i.total_expenses }}</p>
            {% endif %}
        </div>
    </div>
{% endfor %}

</div>

{% endblock %}